<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<div> Schimabre parola</div>
<form action="#" th:action="@{/changePassword}" method="post">
    <div class="form-group">
        <label for="username">Username</label>:
        <input type="text"
               id="username"
               name="username"
               class="form-control"
               autofocus="autofocus"
               placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>:
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               placeholder="">
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>:
        <input type="text"
               id="newPassword"
               name="newPassword"
               class="form-control"
               placeholder="">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="login-submit"
                       id="login-submit"
                       class="form-control btn btn-info"
                       value="Apply">
            </div>
        </div>
    </div>
</form>
    <div th:if="${errorList != null}">
        <div th:each="er : ${errorList}">
            <span th:text="${er.error}"/>
        </div>
    </div>

    <div th:if="${passwordChanged != null && passwordChanged}">
        <span> Parola schimbata cu succes</span>
    </div>

</body>
</html>
</body>
</html>